*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
apk/
thumbnails/
payload/payload.dex
payload/classes/
build_logs/
build_logs.zip
PixelPlay-APK.zip
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
