*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
apk/
thumbnails/
payload/payload.dex
payload/classes/
payload/tmp_classes/
payload/tmp.dex
build_logs/
build_logs.zip
build_logs2/
build_logs2.zip
PixelPlay-APK.zip
payload-dex.zip
gradle/wrapper/gradle-wrapper.jar
gradlew
gradlew.bat
test.zip
